.bg-color-footer{
  background-color: antiquewhite;

}

.logo-footer-ps{
  width: 125px;
}

.fa-brands {
  transition: .6s;
}

.fa-brands:hover{
  transform: scale(0.6);
}

.img-one{
  width: 20px;
  margin-left: 5px;
}
.fa-airbnb{
  color: #fccd4d;

}
.fa-instagram{
color:  #dc3545;
}

