<footer class="bg-color-footer">

      <div class="container-lg py-3">
        <div class="flex-around py-5">
          <div class="d-flex justify-content-between">
            <div class="withe-content col-xl-6">
                <img class="logo-footer-ps my-3" src="../../../assets/img/logo.png" alt="PS logo">
                <p class="py-4"><i class="fa-solid fa-earth-europe"></i> Made in Italy <img class="rounded-4 img-one" src="../../../assets/img/it.svg" alt=""></p>
            </div>
            <div class="d-flex justify-content-around align-items-center">
                <a href="" class="mx-3 fs-1"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="mx-3 fs-1"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="mx-3 fs-1"><i class="fa-brands fa-airbnb"></i></a>
            </div>
          </div>
            <div class="link-footer col-xl-6">
                <ul>
                    <div class="flex-around justify-content-around">
                        <div class="col-lg-4">
                          <ul>
                            <li class="py-1"><a href="#">link footer 1</a></li>
                          </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <h6 class="withe-content py-3">
                Website &#169;2023 Gli Zii di Sicilia . Tutte i contenuti e l'iterezza dell'iniziativa della suddetta azienda;
                è materiale protetto da copyright dei rispettivi proprietari. Tutti i
                diritti sono riservati <a href="#">Maggiori info</a>
            </h6>
        </div>
    </div>

</footer>
