.logo{
  height: 80px;
  padding-left: 5px;
}
.img-logo{
  width: 80px;

}
a{
  text-decoration: none;
}
.hero{
  margin-top: 106px;
}
.navbar{
  background-color: antiquewhite;
}

.bd-tw-button{
  background-color: #dc3545;
  color: white;
}
.is-warning{
  color: white;
  background-color: #fccd4d;
}

.hamb-menu {
  width: 30px;
  height: 3px;
  background-color:#fccd4d;
}

.menu{

    border: 1px solid #dc3545;
    width: 55px;


}
.btn-secondary{
  background-color: #fccd4d;
  color: #dc3545;
  border: none;

}
@media screen and (min-width: 1024px) {
  .hambu-menu {
      display: none;
  }}
