<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img class="img-fluid" src="../../../assets/img/openckitchen.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="yellow">La casa</h2>
        <p class="yellow">Un posto unico con viste mozzafiato in qualsiasi ora del giorno</p>
        <button class="button is-danger is-rounded" href="https://www.airbnb.it/rooms/647477598459115086?guests=1&adults=1&s=67&unique_share_id=daf10e2a-3bd6-4c9b-9565-faba5d26bcad">Prenota</button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img class="img-fluid" src="../../../assets/img/cloud-of-smoke-g3d593c209_1920.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="yellow">Scopri la Magia della nostra Terra</h2>
        <p class="yellow">Chista è puisia</p>
        <button class="button is-danger is-rounded">Clicca</button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="../../../assets/img/arancino.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="yellow">Food</h2>
        <p class="yellow">Mangiare non sara mai più la stessa cosa...</p>
        <button class="button is-danger is-rounded">Scopri di più</button>
      </div>
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
