
<div class="container-lg magic">
  <section class="d-flex align-items-center justify-content-center">
    <div class="mx-3 col-lg-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-4">
          <div class="carousel-item  active">
            <img class="img-fluid" src="../../../assets/img/volcano-g2a1a99446_1920.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/mountains-gc539ce143_1280.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/tindari-ge001147d5_1920.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/alley-gd28a90174_1920.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/cloud-of-smoke-g3d593c209_1920.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/mountains.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/ragusa.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/capo.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/emyly.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/sky.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/clava.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="text-of-flex">
        <h2 class="title-flex">Magia</h2>
        <p>“L’intera Sicilia è una dimensione fantastica. Come si fa a viverci senza immaginazione?” [cit. Leonardo Sciascia]</p>
    </div>

  </section>
</div>
