.title-flex {
  font-weight: 900;
  font-size: xx-large;
}

.text-of-flex {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: inherit;
  max-width: 250px;
}
.text-of-flex>* {
  padding: 10px;
  text-align: left;
}
.magic{
  margin-top: 200px;
  margin-bottom: 200px;
}
.img-sun{
  width: 700px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
