<div class="preview">
  <div class="text-center p-2 my-3 container-lg"><h1>Cos'è Gli Zii di Sicilia?</h1> <p class="fw-semibold">Gli zii di Sicilia sono quel posto di cui non sapevi di aver bisogno ma che stavi cercando.
    Mare, Monti, luoghi da visitare, esperienze da fare e meravigliosi cibi da provare!
    Da Gli zii di Sicilia, potrai scoprire luoghi incantevoli e tipici dove poter assaggiare cibi del territorio e gustarti così, letteralmente, la tua incredibile vacanza!

    Che siate una famiglia, un gruppo di amici o una coppia, che aspettate?</p></div>
  <div class="container-lg d-flex flex-wrap" >
    <div class="card col-lg-4 col-12" *ngFor="let item of data">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="item.image" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-75x75 logo-card">
              <img src="../../../assets/img/logo.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{item.title}}</p>
            <a href="https://instagram.com/gliziidisicilia?igshid=YmMyMTA2M2Y=" class="subtitle is-6">@gliziidisicilia</a>
          </div>
        </div>

        <div class="content">
          {{item.descrizione}}
          <br>
          <a href="https://instagram.com/gliziidisicilia?igshid=YmMyMTA2M2Y=">#gliziidisicilia</a>
          <br>
          <button type="button" class="btn btn-warning my-4">Scopri di Più</button>
        </div>
      </div>
    </div>


  </div>
</div>

