.logo{
  height: 80px;
  padding-left: 5px;
}
.img-logo{
  width: 80px;

}
a{
  text-decoration: none;
}
.hero{
  margin-top: 106px;
}
.navbar{
  background-color: antiquewhite;
}

.bd-tw-button{
  background-color: #dc3545;
  color: white;
}
.is-warning{
  color: white;
  background-color: #fccd4d;
}

.card-container-app{
  margin-top: 106px;
}
.image-logo{
  width: 91px;
}

.card{
  max-width: 800px;
}
