<div class="container-fluid cornice d-flex justify-content-center align-items-center">
  <div class="logo-c animate__animated animate__zoomInDown text-center">
    <div class="title-logo mt-5"><h3>BENVENUTI</h3></div>
    <div class="button-logo">
      <button type="button" routerLink="home" class="btn btn-warning animate__animated animate__fadeInLeft fw-bold">HOME</button>
      <div class="btn-group">
        <button type="button" class="btn btn-danger animate__animated animate__fadeInRight fw-bold">PRENOTA</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://www.booking.com/hotel/it/gli-zii-di-sicilia-casa-vacanze.it.html?label=gen173nr-1FCAsocUIfZ2xpLXppaS1kaS1zaWNpbGlhLWNhc2EtdmFjYW56ZUgUWARocYgBApgBFLgBGMgBEdgBAegBAfgBA4gCAagCBLgCu6u2nAbAAgHSAiQ1ZDA2MGY5YS1jMmJjLTQ4YWQtOGViZi1hZWM5YWNiYmIyOTXYAgXgAgE&sid=8dc22fb287a14ef1a78cbbd4b5fe6ca8&dist=0&keep_landing=1&sb_price_type=total&type=total&">Booking.com</a></li>
          <li><a class="dropdown-item" href="https://www.airbnb.it/rooms/647477598459115086?guests=1&adults=1&s=67&unique_share_id=daf10e2a-3bd6-4c9b-9565-faba5d26bcad">AirBnB</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
