<div class="container-lg sunset d-flex align-items-center justify-content-center">
    <div class="text-of-flex col-lg-6 col-12" >
        <h2 class="title-flex">Sunset lover</h2>
        <p>
          Goditi i meravigliosi panorami che ti regala questa terra. L’odore del mare, i colori della natura, il sapore della scoperta.</p>
    </div>
    <div class="mx-3  col-lg-6 col-12">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-4" >
          <div class="carousel-item active">
            <img class="img-fluid" src="../../../assets/img/sun1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/sun2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/sun4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="../../../assets/img/sun3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>

</div>
